
.rocket {
  display: flex;
  justify-content: center;
  margin: 3em;
  gap: 20px;
}

.rocket-list{
  display: block;
  text-align: center;
  margin: 2em;
}
.rocket-img {
  width: 300px;
  height: 250px;
  border-radius: 3px;
}

.rocket-button {
  padding: 10px;
  background-color: #00b4d8;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.cancel-button {
  padding: 10px;
  background-color: white;
  color: #00b4d8;
  border-radius: 3px;
  border: solid 1.5px #00b4d8;
  cursor: pointer;
}

.reserve {
  background-color: #00b4d8;
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

@media (width <= 740px) {
 
 .rocket {
  display: block;
  margin: 2em;
  gap: 20px;
}
}