.table {
  width: 94%;
  margin: auto;
  margin-bottom: 3%;
  padding-top: 20px;
}

tr {
  display: grid;
  grid-template-columns: 1.8fr 10fr 2fr 1.8fr;
}

tr .my-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
